@media screen and (max-width: 768px) {
    .answerDiv {
        width: 195px;
    }
    #endingImg {
        width: 390px;
    }
}

@media screen and (max-width: 576px) {
    .answerDiv {
        width: 50%;
    }
}